.team-container{
width: 100%;
padding: 32px;
box-sizing: border-box;
text-align: center;
}
.team-container h3{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid #57C278;
    display: inline-block;
    padding-bottom: 8px;
}
.collaborators-container{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}
